html, body {
	height: 100%;
	margin: 0;
	scroll-behavior: smooth;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
}

.page {
	height: 100vh;
	scroll-snap-align: start;
}

.title {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	background: #eee;
	padding: 0rem;
}

.bottom-left {
	font-size: clamp(2rem, 5vw, 8rem);
	margin: 5rem;
}

